{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Ajouter un document</h1>
        <br>
        {{ form_start(form) }}
        <div class="row align-items-end">
            {{ form_row(form.title) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="row">
            <p>Si vous insérez un ensemble de documents, veuillez n'insérez que des documents de même catégorie (Plan, Texte, ...)</p>
        </div>
        <div class="row align-items-end">
            {{ form_row(form.imageFile) }}
            {{ form_errors(form.imageFile) }}
        </div>
        <div class="row align-items-end">
            {{ form_row(form.category) }}
            {{ form_errors(form.category) }}
        </div>
        <div class="row align-items-end">
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    </div>

{% endblock %}