{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        {{form_start(form)}}
        <div class="form-row align-items-end">
            <div class="col">
                {{form_row(form.documentType)}}
            </div>
            <div class="col">
                {{form_row(form.searchedText)}}
            </div>
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </div>
        {{form_end(form)}}
    </div>
</div>
<div class="container">
    
    <section class="images">
    
        <div class="row">
            {% for document in documents %}
    
                <div class="col-md-4">
                    <article>
                        <h2>{{document.title}}</h2>
                        <div class="metadata">Crée le 10/01/2020</div>
                        <div class="content"><img src="{{document.image}}" alt="">
                            <br>
                            <br>
                            <a href="{{ path('site_show', {'id' : document.id }) }}" class="btn btn-primary">Voir détails</a>
                        </div>
                        <br>
                    </article>
                    <br>
                </div>
            {% endfor %}
            </div>
            <div class="pagination justify-content-center">
                {{ knp_pagination_render(documents) }}
            </div>
    
    </section>
</div>
{% endblock %}