{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <article>
            <h2>{{document.title}}</h2>
            <div class="metadata">
                (Ref : {{ document.id }}) <br>
                Catégorie du document : {{document.category.name}}
            </div>
            {%  if document.image matches '%http%' %}
                <img src="{{document.image}}" alt="">
            {%  else %}
                <img src="{{ vich_uploader_asset(document, 'imageFile') }}" alt="" style="width: 100%; height: auto;">
            {% endif %}
            <div class="info">
                <h3>Texte extrait de l'image</h3>
                <p>
                    {{document.content | raw }}
                </p>
            </div>
        </article>
    </div>
{% endblock %}